@using EventSharing.Models

<h1>Имя - @CurentUser.CurentUserInfo.Name</h1>
<h1>Почта - @CurentUser.CurentUserInfo.Email</h1>
<h1>Логин - @CurentUser.CurentUserInfo.Login</h1>
<h1>Пароль - @CurentUser.CurentUserInfo.Password</h1>
<h1>Айди - @CurentUser.CurentUserInfo.UserId</h1>